.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.p {
    padding: 2rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
}